//  全域css 
*,*::before,*::after{
    font-size: 16px;
    line-height: 1rem;
    // outline: 1px solid red
} 
html, body{
    height: 100%;
    margin: 0;
}
.wrap{
    min-height: 100%;
    margin-bottom: -160.67px;
}
.container{
    margin: 0 auto;
    }
.container1{
    margin: 0 auto;
    padding-bottom: 160.67px;
    }
//img rwd css 
img{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    display: block;
    text-decoration: none;
    color: $secondary;
    background-color: transparent;
}
.material-symbols-outlined {
    font-size: 30px;
}

.navbar-menu-logoImg{
    width: 300px;
    height: auto;
    filter: drop-shadow(2px 1px 2px rgb(255,255,2550,1));

}
.navbar-brand-logoImg{
    width: 110px;
    height: auto;
    filter: drop-shadow(2px 1px 2px rgb(255,255,2550,1));

    @include media-breakpoint-up(lg){
        width: 288px;
}}


    // navbar-link 動態下底線 
.line-absolute a{
    position:relative;
  }
.line-absolute a::after{
    content:" ";
    position: absolute;
    right:50%;
    left:50%;
    bottom: 0;
    border-bottom:4px solid $bright;
    transition: .3s;
  }
.line-absolute a:hover::after{
    right: 0%;
    left: 0%;  
  }
.nav-link{
        font-size: 1.5rem;
        font-weight: 600;
    }    

footer{
    height: 160.67px;
    background-color: $primary;
    color:$secondary
}

